@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); 



body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url('https://wallpapercave.com/wp/wp1902719.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'VT323', monospace;
 
}



.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

}

button {
  background-color: transparent;
  border: none;
  color: #81b29a;
  outline:none;
  width: 200px;
  padding: 10px;
  margin-top: 30px;
  border: 3px solid rgba(1, 152, 117, .5);
  font-family: 'VT323', monospace;
  border-radius: 50px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}


button:hover {
  transform: skew(-10deg);
  border: 4px solid #003A70;
  
    
}